---
import LayoutMain from "../layouts/LayoutMain.astro";
import Section01 from "../ui/components/Section_01.astro";
import Section02 from "../ui/components/Section_02.astro";
import Section03 from "../ui/components/Section_03.astro";
import Section04 from "../ui/components/Section_04.astro";
---

<LayoutMain title="Jhon Cruz Portfolio">
  <main class="w-full py-10 bg-white">
    <section class="max-w-6xl mx-auto w-full md:px-10 px-5 py-5 grid gap-4">
      <Section01 />

      <Section03 />

      <Section02 />

      <Section04 />
    </section>
  </main>
</LayoutMain>
